*{
    margin: 0;
    padding: 0;
}
#container{
    height: 300px;
    width: 300px;
    font-family: arial,sans-serif;
    background-color: aquamarine;
    text-align: center;
    font-size: 2rem;
   margin: auto;
   margin-top: 200px;
    border: 2px solid black;
    border-radius: 5px;
    box-shadow: 0.1px 0.1px 15px 0.1px #f8f7f7;
}
button{
    font-size: 30px;
    background-color: rgb(41, 41, 192);
    color: white;
    margin-top: 10px;
    
    border-radius: 4px;
    border : 2px solid black;
}
input{
    height: 30px;
    border-radius: 4px;
    text-align: center;
}