*{
    margin: 0;
    padding: 0;
}
body{
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(255, 255, 255);
}



#container{
    background-color: black;
    border-radius: 15px;
    max-width: 500px;
    overflow: hidden;
}
#display{
    font-size: 2rem;
    width: 100%;
    text-align: left;
    padding: 20px;
    border: none;
    color: whitesmoke;
    background-color: rgb(48, 44, 44);
}

#keys{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
    padding: 25px;
}

button{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    font-size: 3rem;
    border: none;
    background-color: rgb(73, 75, 75);
    font-weight: bold;
    color: white;
    cursor: pointer;
}
button:hover{
    background-color: rgb(95, 96, 96);

}
button:active{
    background-color: rgb(127, 129, 129);

}
.operator-btn{
    background-color: orange;
}

.operator-btn:hover{
    background-color: rgb(237, 193, 111);

}
.operator-btn:active{
    background-color: rgb(245, 204, 130);

}
