*{
    margin: 0;
    padding: 0;
}
#mybox{
    background-color: lightblue;
    height: 200px;
    width: 200px;
    font-size: 7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}